* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #202020;
}

.wrapper {
	height: 300px;
	margin: 15% auto 0;
	position: relative;
	width: 400px;
}

.mem-container {
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
  border-radius: 2%;
}

.wrapper > input {
	display: none;
}

.controls {
  display: flex;
	right: calc((100% - 400px) / 2);
  position: fixed;
  justify-content: space-between;

  z-index: 1;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 15.5px;
	margin: 17px 18px 0 18px;
	position: relative;
	width: 15.5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
  background-color: rgb(61, 95, 167);
	/* -webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s; */
}


.wrapper label:after {
  /* background-color: #ddd;
	border: 2px solid #ddd; */
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolfiute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}


.wrapper label:focus {
  color: rgb(61, 95, 167);
  background-color: rgb(61, 95, 167);
}

.wrapper label:active {
  color: rgb(154, 224, 62);
  background-color: rgb(154, 224, 62);
}

/* .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #b3d7ff;
} */

/* #slide1:checked+label::before {
  border-color: #0b7600;
  background-color: #0b7600;
} */

.wrapper label:hover{
	background: #ddd;
}

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
  background-color: #f00;
}

.mem {
  display: flex;
  flex-direction: column;
	height: inherit;
	opacity: 0;
	position: fixed;
	width: inherit;
	/* z-index: 0; */
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;

  transform: translateX(100%);

}



.for-picture1,
.for-picture2,
.for-picture3,
.for-picture4 {
  position: absolute;
  left: 0;

  width: 80px;
  height: 20px;
	opacity: 0;
	z-index: 0;

  background-color: #202020;
}


#mem1:checked ~ .mem-container > .picture1,
#mem2:checked ~ .mem-container > .picture2,
#mem3:checked ~ .mem-container > .picture3,
#mem4:checked ~ .mem-container > .picture4 {
	opacity: 1;
	z-index: 1;
  
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);

  transform: translateX(0%);
}


.big-area1,
.big-area2,
.big-area3,
.big-area4 {
  padding-bottom: 25px;
  cursor: pointer;
  /* border: 1px solid #ffffff; */
}

.title {
  padding-top: 20px;
  color: #ffffff;
  font-size: 16px;
}

@media (max-device-width: 320px) {
  .title {
    padding-top: 80px;
    /*margin-top: 200px;*/
    color: #ffffff;
    font-size: 16px;
    margin: auto;
  } 
  
  .controls {
    display: flex;
    /*right: calc((100% - 400px) / 2);*/
    right: 50%;
    margin-top: 15px;
    /* margin-left: auto;
    margin-right: auto; */
    left: 25%;
    /*margin-left: 52px; */
    position: fixed;
    justify-content: space-between;
  
    z-index: 1;
  }

  .under-picture {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
  }
}